<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.OrderMapper">

	<select id="getOrderList" resultType="com.it.domain.OrderListDTO">
		select om.om_code, om.m_id, om.om_rdate, os.os_code, p.p_code, p.p_name, p.p_price, os.os_cnt, p.p_price*os.os_cnt os_money <!-- price*cnt : CartdetailDTO의 cs_money에 해당 --> 
		from tblproduct p, tblordersub os, tblordermain om 
		where p.p_code = os.p_code
		and om.om_code = os.om_code
		order by om.om_code desc 
	</select>

</mapper>
	